@font-face {
    font-family: 'CenturyGothic';
    src: url('/font/CenturyGothic.TTF');
}
*{
    font-family: 'CenturyGothic';
    padding: 10px;
}
body {
    width: 90%;
    margin: 0px auto;
    font-family: Arial, sans-serif;
}

.tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tab-bar {
    display: flex;
    align-items: center;
    background: #f1f1f1;
    border-bottom: 1px solid #ddd;
}

.tab-button {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-right: 1px; /* Small gap between tabs */
    transition: background 0.3s, border-color 0.3s;
    position: relative;
}

.tab-button.active {
    background: #fff;
    border-color: #ddd;
    border-bottom: 1px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tab-button:hover {
    background: #e0e0e0;
}

.tab-content {
    display: none;
    width: 95%;
    background: #fff;
    border: 1px solid #ddd;
    border-top: 1px solid #fff;
    margin: 0 auto;
}

.tab-content.active {
    display: block;
}
.hidden{
    display:none;
}
.tuition_hidden{
    display: none;
}