@font-face {
    font-family: 'CenturyGothic';
    src: url('/font/CenturyGothic.TTF');
}

* {
    font-family: 'CenturyGothic';
}
#loading {
    display: block;
    margin: 0 auto;
    width: 100px;
}

#students {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
}

.student_card {
    display: flex;
    align-items: center;
    padding: 10px;
    height: auto;
    background-color: white;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.student_card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px; /* Space between image and text */
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.student_name {
    font-size: 1rem;
    color: #333;
    text-align: left; /* Align text to the left */
}

.student_name.female {
    color: rgb(239, 101, 124);
}

.student_name.male {
    color: black;
}
