@font-face {
    font-family: 'CenturyGothic';
    src: url('/font/CenturyGothic.TTF');
}


table {
    font-family: 'CenturyGothic';
    width: 70%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}

th {
    background-color: #400F60;
    color: white;
    padding: 10px;
    text-align: center;
}

td {
    padding: 8px;
    text-align: center;
}

tr {
    background-color: white;
}
tr:hover{
    background-color: #8e37c8;
    color: white;
    cursor: pointer;
}
td,
th {
    border: 1px solid #ddd;
}